<title>Blenddit.com</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js?v={{version}}"></script>
<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js?v={{version}}" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js?v={{version}}"></script>
{{#if debug}}
	<link rel="stylesheet" type="text/css" href="static-assets/css/bootstrap.min.css?v={{version}}">
	<link rel="stylesheet" type="text/css" href="static-assets/css/ir_black.css?v={{version}}">
	<link rel="stylesheet" type="text/css" href="static-assets/css/app.css?v={{version}}">
	<script type="text/javascript" src="static-assets/js/jquery.pjax.js?v={{version}}"></script>
	<script type="text/javascript" src="static-assets/js/app.js?v={{version}}" defer></script>
	<script type="text/javascript" src="static-assets/js/highlight.pack.js?v={{version}}"></script>
	<script type="text/javascript" src="static-assets/js/ga.js?v={{version}}" async></script>
{{else}}
	<link rel="stylesheet" type="text/css" href="static-assets/css/all.css?v={{version}}">
	<script type="text/javascript" src="static-assets/js/all.js?v={{version}}" async></script>
{{/if}}
