<div class='framework'>  
  <div id="blenddit">
    <div id='main-loader-container' class='center-containing'>
      <div id='main-loader'><i class='fa fa-cog fa-spin fa-5x'></i></div>
    </div>
    <div id='greeting' class='container content-padding nopacity hide'>
      <div class='bookmark'><a data-toggle="tooltip" data-placement="bottom" title="Drag this bookmarklet onto your bookmarks toolbar and click to use on the comment section of a reddit thread to instantly build a column." href="javascript:(function(){var l=window.location;if (l.host+l.pathname.substr(0,3)=='www.reddit.com/r/'){l.href='http://blenddit.com'+l.pathname;}})();" class="btn btn-default"><i class='fa fa-bookmark'></i>&nbsp;blenddit</a></div>
      <div class="jumbotron">
        <div class='text-center'>
          <img class='logo-responsive' src='static-assets/imgs/logo.png' alt='error'></img>
          <p class="lead">Build columns of live reddit threads or twitter feeds. <a class='help'>See how</a>.</p>
        </div>
        <div class='row'>
          <div class='col-sm-6'>
            <div class="panel-group" id="reddit-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div data-toggle="collapse" data-parent="#reddit-accordion" href="#reddit-collapseOne" class="panel-heading text-center" role="tab" id="headingOne">
                        <h4 class="panel-title"><i class='fa fa-search'></i>&nbsp;Search Reddit</h4>
                    </div>
                    <div id="reddit-collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                        <div class="panel-body">
                            <form id='subreddit-search' role='form' action='javascript:void(0)'>
                                <div class="form-group">
                                    <label>Search</label>
                                    <input class="form-control subreddit-search-input" type="text" placeholder='Enter query..'>
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input checked type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Subreddits
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Submissions
                                    </label>  
                                </div>
                                <div class="form-group">
                                    <label>Sorted By</label>
                                    <select class="form-control">
                                        <option>Relevant</option>
                                        <option>New</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Links From</label>
                                    <select class="form-control">
                                        <option>All Time</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>    
                                    </select>
                                </div>
                                <button type="submit" class="subreddit-search-submit btn btn-default">Submit</button>
                                <input class='subreddit-search-submit hide' type='submit'>                          
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class='col-sm-6'>
            <div class="panel-group" id="twitter-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div data-toggle="collapse" data-parent="#twitter-accordion" href="#twitter-collapseOne" class="panel-heading text-center" role="tab" id="headingTwo">
                        <h4 class="panel-title"><i class='fa fa-search'></i>&nbsp;Search Twitter</h4>
                    </div>
                    <div id="twitter-collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="true">
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class='text-center'>
            <h4>Watch List</h4>
          </div>
          <ul class="nav nav-tabs watch-list-tabs">
            <li><a href="#watch-subreddits" data-toggle="tab">Subreddits</a></li>
            <li><a href="#watch-matching" data-toggle="tab">Matching</a></li>
            <li class="active"><a href="#watch-threads" data-toggle="tab">Threads</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade" id="watch-subreddits">
              <ul class="list-group contain"></ul>
              <ul class="list-group controls">
                <li class='list-group-item controls'>
                  <div class='btn-group'>
                    <a class='btn add wsubs'><i class='fa fa-plus-circle fa-2x'></i></a>
                    <a class='btn save wsubs'><i class='fa fa-save fa-2x'></i></a>
                  </div>
                </li>  
              </ul>
            </div>
            <div class="tab-pane fade" id="watch-matching">
              <ul class="list-group contain"></ul>
              <ul class="list-group controls">
                <li class='list-group-item controls'>
                  <div class='btn-group'>
                    <a class='btn add wmatching'><i class='fa fa-plus-circle fa-2x'></i></a>
                    <a class='btn save wmatching'><i class='fa fa-save fa-2x'></i></a>
                  </div>
                </li>  
              </ul>
            </div>
            <div class="tab-pane fade active in" id="watch-threads">
              <div id='watch-list-no-results' class='title-text text-center'>
                <p><span class='text-warning'>There were no results matching your criteria. Adjust your subreddits and matching phrases and then refresh.</span></p>
              </div>
              <ul class="list-group contain"></ul>
              <ul class="list-group controls">
                <li class='list-group-item controls'>
                  <div class='btn-group'>
                    <a class='btn refresh wthreads'><i class='fa fa-refresh fa-2x'></i></a>
                    <a class='btn save wthreads'><i class='fa fa-save fa-2x'></i></a> 
                  </div>
                </li>  
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='content-container' class='content-container-logo nopacity hide'>
      <div id='carousel' class='carousel slide' data-interval='false'>
        <div class="carousel-inner"></div>
      </div>
    </div>
    <div id='subreddit-container' class='container content-padding nopacity hide'>
      <div class='row'>
        <div class='col-sm-6'>
          <h3><span class='text-warning'><span id='subreddit-result-title'></span></span></h3>
        </div>
        <div class='col-sm-6'>
          <form id='subreddit-search-results' role='form' action='javascript:void(0)'>
            <label>Reddit</label>
            <div class="input-group form-group">
              <input class="form-control subreddit-search-input" type="text" placeholder='Enter a subreddit...'><span class="input-group-addon"><i class="fa fa-reddit"></i></span>
              <input class='subreddit-search-submit hide' type='submit'>
            </div>
          </form>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <ul class='media-list media-results'></ul>
          <ul class='media-list media-more text-center'>
            <li class='media'><h5>Load More Results</h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div id='reddit-uri' data-subredditURI='{{reddit.subredditURI}}' data-threadidURI='{{reddit.threadidURI}}' data-threadidsURI='{{reddit.threadidsURI}}'></div>
  </div>
  <div class="modal fade" id="controlModal" tabindex="-1" role="dialog" aria-labelledby="controlModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h6 class="modal-title" id="controlModalTitle">Control Panel</h6>
        </div>
        <div class="modal-body">
          <div id='control-panel-buttons' class='col-sm-4'>
            <div class="list-group">
              <a href="javascript:void(0);" class="list-group-item non-active" id='reddit-button'>
                 <h4 class="list-group-item-heading">Build Reddit Column</h4>
                 <p class="list-group-item-text">Add any number of threads.</p>
              </a>
              <a disabled href="javascript:void(0);" class="list-group-item non-active" id='twitter-button'>
                 <h4 class="list-group-item-heading">Build Twitter Column</h4>
                 <p class="list-group-item-text">Add any number of twitter search terms.</p>
              </a>
              <a href="javascript:void(0);" class="list-group-item non-active" id='accounts-button'>
                <h4 class="list-group-item-heading">Accounts</h4>
                <p class="list-group-item-text">Your active reddit and twitter accounts while using Blenddit.com</p>
              </a>
              <a href="javascript:void(0);" class="list-group-item non-active" id='search-button'>
                <h4 class="list-group-item-heading">Search</h4>
                <p class="list-group-item-text">Find subreddits with live threads or twitter searches.</p>
              </a>
              <a href="javascript:void(0);" class="list-group-item non-active" id='remove-button'>
                <h4 class="list-group-item-heading">Delete</h4>
                <p class="list-group-item-text">Delete all of a specified column type.</p>
              </a>
            </div>      
          </div>
          <div id='control-panel-panels' class='col-sm-8'>
            <div id='panel-help' class='active'>
                <img height='78' width='234' src='static-assets/imgs/text.png' alt='error'>
                <h5>Select an option from the left.</h5>
            </div>
            <div id='reddit'>
              <div class='btn-group column-control-buttons'>
                <a class="add-thread-button btn btn-lg btn-block btn-primary">Add Thread</a>
              </div>
              <form role='form' action='javascript:void(0)'>
                <div class="column-settings form-group hide">
                  <div class="form-group">
                    <label for='column-name'>Column Name</label>
                    <input id='column-name' class='form-control' maxlength='25' placeholder='Enter column name' value='My Column'>
                  </div>
                  <div class="form-group">
                    <label for='refresh'>Refresh Rate</label>
                    <select id='refresh' class='form-control'>
                      <option value='10'>10 seconds</option>
                      <option value='15'>15 seconds</option>
                      <option value='20'>20 seconds</option>
                      <option value='25'>25 seconds</option>
                      <option value='30'>30 seconds</option>
                      <option value='35'>35 seconds</option>
                      <option value='40'>40 seconds</option>
                      <option value='45'>45 seconds</option>
                      <option value='50'>50 seconds</option>
                      <option value='55'>55 seconds</option>
                      <option selected value='60'>60 seconds</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for='limit'>Limit Posts</label>
                    <select id='limit' class='form-control'>
                      <option value='25'>25</option>
                      <option selected value='50'>50</option>
                      <option value='100'>100</option>
                      <option value=''>No Limit</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for='sortBy'>Sort By</label>
                    <select id='sortBy' class='form-control'>
                      <option selected value='new'>New</option>
                      <option disabled value='confidence'>Best</option>
                      <option disabled value='top'>Top</option>
                      <option disabled value='controversial'>Controversial</option>
                      <option disabled value='hot'>Hot</option>
                      <option disabled value='old'>Old</option>
                    </select>
                  </div>
                </div>
                <input id='config' type='submit' class='hide'>
              </form>
            </div>
            <div id='accounts'>
                <div class='list-group' data-reddituser='{{reddit.redditUser}}'>
                  {{#if reddit.redditUserExists}}
                    <a href="javascript:void(0);" class="list-group-item" id='reddit-logout'>
                        <h5 class="list-group-item-heading"><i class='fa fa-reddit'></i>&nbsp;<span class='text-warning'>{{reddit.redditUser}}</span></h5>
                        <p class="list-group-item-text">Click here to sign out.</p>
                    </a>
                  {{else}}
                    <a href="/auth/reddit" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class='fa fa-reddit'></i>&nbsp;Sign in to Reddit</h5>
                        <p class="list-group-item-text">Follow this link to connect your Reddit account to Blenddit.</p>
                    </a>
                  {{/if}}
                  {{#if twitter.twitterUserExists}}
                    <a href="javascript:void(0);" class="list-group-item" id='twitter-logout'>
                        <h5 class="list-group-item-heading"><i class='fa fa-twitter'></i>&nbsp;{{twitter.twitterUser}}</h5>
                        <p class="list-group-item-text">Click here to sign out.</p>
                    </a>
                  {{else}}
                    <a href="javascript:void(0)" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class='fa fa-twitter'></i>&nbsp;Sign in to Twitter</h5>
                        <p class="list-group-item-text">Follow this link to connect your Twitter account to Blenddit.</p>
                    </a>
                  {{/if}}
                </div>
            </div>
            <div id='delete-columns'>
                <div class='list-group'>
                    <a href="javascript:void(0)" class="list-group-item" id='delete-reddit-columns'>
                        <h5 class="list-group-item-heading">Delete Reddit Columns</h5>
                        <p class="list-group-item-text">Delete your saved Reddit columns.</p>
                    </a>
                    <a href="javascript:void(0)" class="list-group-item" id='delete-twitter-columns'>
                        <h5 class="list-group-item-heading">Delete Twitter Columns</h5>
                        <p class="list-group-item-text">Delete your saved Twitter columns.</p>
                    </a>
                    <a href="javascript:void(0)" class="list-group-item" id='delete-all-columns'>
                        <h5 class="list-group-item-heading">Delete All Columns</h5>
                        <p class="list-group-item-text">Delete all of your saved Reddit and Twitter Columns</p>
                    </a>
                </div>
            </div>
            <div id='search-control-panel'>
              <form id='subreddit-search-control' role='form' action='javascript:void(0)'>
                <label>Reddit</label>
                <div class="input-group form-group">
                  <input class="form-control subreddit-search-input" type="text" placeholder='Enter a subreddit...'>
                    <span class="input-group-addon"><i class="fa fa-reddit"></i></span>
                  <input class='subreddit-search-submit hide' type='submit'>
                </div>
              </form>
              <form>
                <label>Twitter</label>
                <div class="input-group form-group">
                  <input disabled class="form-control" type="text" placeholder='Search twitter...'><span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button id='back-button' type="button" class='btn btn-default hide'><i class='fa fa-chevron-left'></i>&nbsp;Back</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id='save-changes' type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete-column-modal" tabindex="-1" role="dialog" aria-labelledby="delete-column-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h6 class="modal-title" id="delete-modal">Delete Column</h6>
        </div>
        <div class="modal-body">
          Did you really want to delete the column,&nbsp;<strong><span id='column-to-delete'></span></strong>&nbsp;?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id='delete-column' data-column='' type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="login-reddit-modal" tabindex="-1" role="dialog" aria-labelledby="login-reddit-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h6 class="modal-title">Sign In Required</h6>
        </div>
        <div class="modal-body">
          <a href='/auth/reddit'><button id='login-reddit' type="button" class="btn btn-primary btn-lg btn-block">Sign in to Reddit</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="info-title"></h6>
        </div>
        <div class="modal-body">
          <div id='info-content'></div>
        </div>
        <div class="modal-footer">
          <button id='author-button' onclick="" type="button" class="pull-left transparent">Test</button>
          <button id='time-button' type="button" class="pull-left transparent">Time</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>