<div class='framework'>  
  <div id="blenddit">
    <div class='container' id='greeting' style='padding-top: 10px; padding-bottom: 50px;'>
      <div class="jumbotron">
        <div class='text-center'>
          <img class='logo-responsive' src='static-assets/imgs/logo.png' alt='error'></img>
          <p class="lead">A web application for aggregating live reddit streams and twitter feeds with a column interface.</p>
        </div>
        <div class='row'>
          <div class='col-sm-6'>
            <form id='subreddit-search' role='form' action='javascript:void(0)'>
              <label>Reddit</label>
              <div class="input-group form-group">
                <input class="form-control subreddit-search-input" type="text" placeholder='Enter a subreddit...'><span class="input-group-addon"><i class="fa fa-reddit"></i></span>
                <input class='subreddit-search-submit hide' type='submit'>
              </div>
            </form>
          </div>
          <div class='col-sm-6'>
            <label>Twitter</label>
            <div class="input-group form-group">
              <input disabled class="form-control" type="text" placeholder='Search twitter...'><span class="input-group-addon"><i class="fa fa-twitter"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Watch List</h4>
          <ul class="nav nav-tabs">
            <li><a href="#watch-subreddits" data-toggle="tab">Subreddits</a></li>
            <li><a href="#watch-matching" data-toggle="tab">Matching</a></li>
            <li class="active"><a href="#watch-threads" data-toggle="tab">Threads</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade" id="watch-subreddits">
              <ul class="list-group contain"></ul>
              <ul class="list-group controls">
                <li class='list-group-item controls'>
                  <div class='btn-group'>
                    <a class='btn add wsubs'><i class='fa fa-plus-circle fa-2x'></i></a>
                    <a class='btn save wsubs'><i class='fa fa-save fa-2x'></i></a>
                  </div>
                </li>  
              </ul>
            </div>
            <div class="tab-pane fade" id="watch-matching">
              <ul class="list-group contain"></ul>
              <ul class="list-group controls">
                <li class='list-group-item controls'>
                  <div class='btn-group'>
                    <a class='btn add wmatching'><i class='fa fa-plus-circle fa-2x'></i></a>
                    <a class='btn save wmatching'><i class='fa fa-save fa-2x'></i></a>
                  </div>
                </li>  
              </ul>
            </div>
            <div class="tab-pane fade active in" id="watch-threads">
              <div id='watch-list-no-results' class='text-center'>
                <h5><span class='text-warning'>There were no results matching your criteria. Adjust your subreddits and matching phrases and then refresh.</span></h5>
              </div>
              <ul class="list-group contain"></ul>
              <ul class="list-group controls">
                <li class='list-group-item controls'>
                  <div class='btn-group'>
                    <a class='btn refresh wthreads'><i class='fa fa-refresh fa-2x'></i></a>
                    <a class='btn save wthreads'><i class='fa fa-save fa-2x'></i></a> 
                  </div>
                </li>  
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='content-container' class='content-container-logo'>
      <div id='carousel' class='carousel slide' data-interval='false'>
        <div class="carousel-inner"></div>
      </div>
    </div>
    <div id='subreddit-container' class='container hide' style='padding-top: 10px; padding-bottom: 50px;'>
      <div class='row'>
        <div class='col-sm-6'>
          <h2>/r/<span id='subreddit-result-title'></span></h2>
        </div>
        <div class='col-sm-6'>
          <form id='subreddit-search-results' role='form' action='javascript:void(0)'>
            <label>Reddit</label>
            <div class="input-group form-group">
              <input class="form-control subreddit-search-input" type="text" placeholder='Enter a subreddit...'><span class="input-group-addon"><i class="fa fa-reddit"></i></span>
              <input class='subreddit-search-submit hide' type='submit'>
            </div>
          </form>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <ul class='media-list'>
            <li class='media'>
              <a class='pull-left' href='#'>
                <img class='media-object' src='/bootstrap/images/64.jpg' alt='error'>
              </a>
              <div class="media-body">
                <h4 class='media-heading'>This is a heading. This is a heading.</h4>
                <p>Some text. Some text</p>
              </div>
            </li>
            <li class='media'>
              <a class='pull-left' href='#'>
                <img class='media-object' src='/bootstrap/images/64.jpg' alt='error'>
              </a>
              <div class="media-body">
                <h4 class='media-heading'>This is a heading. This is a heading.</h4>
                <p>Some text. Some text</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id='reddit-uri' data-subredditURI='{{reddit.subredditURI}}' data-threadidURI='{{reddit.threadidURI}}'></div>
  </div>
  <div class="modal fade" id="controlModal" tabindex="-1" role="dialog" aria-labelledby="controlModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h6 class="modal-title" id="controlModalTitle">Control Panel</h6>
        </div>
        <div class="modal-body">
          <button id='add-a-column' type="button" class="btn btn-primary btn-lg btn-block">Add Column<i style='padding: 2px 35px 0 0;' class='fa fa-plus-square fa-lg icon-right'></i></button>
          <div id='vendor-group' class='hide'>
            <button id='reddit-block' type="button" class="btn btn-primary btn-lg btn-block"><i class='fa fa-reddit fa-lg'></i> Reddit</button>
            <button id='twitter-block' type="button" class="btn btn-primary btn-lg btn-block"><i class='fa fa-twitter fa-lg'></i> Twitter</button>
          </div>
          <div id='reddit' class='hide'>
            <div class='column-control-buttons'>
              <button id='cancel-column' type="button" class="btn btn-default">Cancel</button>
              <button type="button" class="add-thread-button btn btn-primary btn-default">Add Thread</button>
            </div>
            <span id="helpBlock-1" class="help-block">Tap the "Add Thread" button to add a subreddit and associated thread from that subreddit to your column. Save changes when finished.</span>
            <span id="helpBlock-2" class="help-block hide">Name your column and adjust individual settings including refresh rate, sorting option, and comment limit. Tap "Add" to add your new column to your configuration.</span>
            <form role='form' action='javascript:void(0)'>
              <div class="column-settings form-group hide">
                <div class="form-group">
                  <label for='column-name'>Column Name</label>
                  <input id='column-name' class='form-control' maxlength='25' placeholder='Enter column name' value='My Column'>
                </div>
                <div class="form-group">
                  <label for='refresh'>Refresh Rate</label>
                  <select id='refresh' class='form-control'>
                    <option value='10'>10 seconds</option>
                    <option value='15'>15 seconds</option>
                    <option value='20'>20 seconds</option>
                    <option value='25'>25 seconds</option>
                    <option value='30'>30 seconds</option>
                    <option value='35'>35 seconds</option>
                    <option value='40'>40 seconds</option>
                    <option value='45'>45 seconds</option>
                    <option value='50'>50 seconds</option>
                    <option value='55'>55 seconds</option>
                    <option selected value='60'>60 seconds</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for='limit'>Limit Posts</label>
                  <select id='limit' class='form-control'>
                    <option value='25'>25</option>
                    <option selected value='50'>50</option>
                    <option value='100'>100</option>
                    <option value=''>No Limit</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for='sortBy'>Sort By</label>
                  <select id='sortBy' class='form-control'>
                    <option selected value='new'>New</option>
                    <option disabled value='confidence'>Best</option>
                    <option disabled value='top'>Top</option>
                    <option disabled value='controversial'>Controversial</option>
                    <option disabled value='hot'>Hot</option>
                    <option disabled value='old'>Old</option>
                  </select>
                </div>
              </div>
              <input id='config' type='submit' class='hide'>
            </form>
          </div>
          <div id='accounts'>
            <h6>Accounts</h6>
            <div class='row config-row-container'>
              <div data-reddituser='{{reddit.redditUser}}' class="col-xs-12 col-md-8 config-panel-column account">
                <h6 class='config-account'>
                {{#if reddit.redditUserExists}}
                  <div id='reddit-logout'><i class='fa fa-reddit fa-lg'></i>&nbsp;Sign out of <span class='text-warning'>{{reddit.redditUser}}</span></div>
                {{else}}
                  <a class='white nopacity' href='/auth/reddit'><i class='fa fa-reddit fa-lg'></i>&nbsp;Sign in to Reddit</a>
                {{/if}}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class='pull-left'>
            <button type="button" class="btn btn-default home" data-dismiss="modal"><i class='fa fa-home fa-lg'></i></button>
            <button type="button" class="btn btn-default columns" data-dismiss="modal"><i class='fa fa-columns fa-lg'></i></button>
          </div>
          <div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id='save-changes' type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete-column-modal" tabindex="-1" role="dialog" aria-labelledby="delete-column-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h6 class="modal-title" id="delete-modal">Delete Column</h6>
        </div>
        <div class="modal-body">
          Did you really want to delete the column,&nbsp;<strong><span id='column-to-delete'></span></strong>&nbsp;?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id='delete-column' data-column='' type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="login-reddit-modal" tabindex="-1" role="dialog" aria-labelledby="login-reddit-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h6 class="modal-title">Sign In Required</h6>
        </div>
        <div class="modal-body">
          <a href='/auth/reddit'><button id='login-reddit' type="button" class="btn btn-primary btn-lg btn-block">Sign in to Reddit</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="info-title"></h6>
        </div>
        <div class="modal-body">
          <div id='info-content'></div>
        </div>
        <div class="modal-footer">
          <button id='author-button' onclick="" type="button" class="pull-left transparent">Test</button>
          <button id='time-button' type="button" class="pull-left transparent">Time</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>