<meta charset="utf-8">
<title>Blenddit.com | Social Media Dashboard</title>

<meta name="description" content="Blenddit.com - Social media dashboard">
<meta name="author" content="kurtlocker">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
<meta id="debug" name="debug" value="{{debug}}">
<meta id="version" name="version" value="{{version}}">

<link rel="icon" type="image/png" sizes="192x192" href="{{assets}}img/favicons/android-icon-192x192.png?v={{version}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{assets}}img/favicons/favicon-32x32.png?v={{version}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{assets}}img/favicons/favicon-96x96.png?v={{version}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{assets}}img/favicons/favicon-16x16.png?v={{version}}">

<link rel="apple-touch-icon" sizes="57x57" href="{{assets}}img/favicons/apple-icon-57x57.png?v={{version}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{assets}}img/favicons/apple-icon-60x60.png?v={{version}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{assets}}img/favicons/apple-icon-72x72.png?v={{version}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{assets}}img/favicons/apple-icon-76x76.png?v={{version}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{assets}}img/favicons/apple-icon-114x114.png?v={{version}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{assets}}img/favicons/apple-icon-120x120.png?v={{version}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{assets}}img/favicons/apple-icon-144x144.png?v={{version}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{assets}}img/favicons/apple-icon-152x152.png?v={{version}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{assets}}img/favicons/apple-icon-180x180.png?v={{version}}">

<link rel="manifest" href="{{assets}}img/favicons/manifest.json?v={{version}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{assets}}img/favicons/ms-icon-144x144.png?v={{version}}">
<meta name="theme-color" content="#ffffff">
<style>body{background: #f5f5f5;} body *{opacity: 0;}</style>
{{#if debug}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
	<link rel="stylesheet" href="{{assets}}css/bootstrap.min.css?v={{version}}">
    <link rel="stylesheet" id="css-main" href="{{assets}}css/blenddit.css?v={{version}}">
    <link rel="stylesheet" href="{{assets}}js/plugins/slick/slick.min.css">
{{/if}}